<html lang='en'>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
        <script src="https://use.fontawesome.com/a72e32cdb8.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="ui stackable grid container">
                    {% block title %}{% endblock %}
                    <div class="one wide row">
                        <div class="ui container center aligned">
                            <div class="ui big horizontal bulleted list">
                            <a class="item" href="{{ url_for('teams.create_route') }}">
                                Create a Team
                            </a>
                            <a class="item" href="{{ url_for('tasks.create_route') }}">
                                Add a task
                            </a>
                            <a class="item" href="{{ url_for('teams.select_finish_route') }}">
                                Finish a task?
                            </a>
                            <a class="item" href="{{ url_for('index.home') }}">
                                See Progress
                            </a>
                            {% if session.get('username') %}
                                <div class="item">
                                    {{ session.get('username') }}
                                </div>
                            {% endif %}
                            </div>
                        </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
