<form action="{{ url_for('tasks.create_route') }}" method="POST">
    <label>Create Task:</label>
    <input type="text" name="name">
    <br>

    <label>Type:</label><br>
    <input type="radio" name="type" value="Arduino"> Arduino<br>
    <input type="radio" name="type" value="Python"> Python<br>
    <input type="radio" name="type" value="3D Modeling"> 3D Modeling<br>

    <label>Description:</label>
    <input type="text" name="description">
    <br>

    <input type="submit" value="Create">
</form>
