{% for team in teams %}
    <div class="team" style="display:inline-block">
        <h3>Team: {{ team.name }}</h3>
        <div>{{ team.grade }}</div>
        <div>{{ team.member1 }}</div>
        <div>{{ team.member2 }}</div>
        <div>{{ team.member3 }}</div>
        <div>{{ team.member4 }}</div>


    </div>
    {% for task in team.tasks %}
    <div class="task" style="display:inline-block;margin:1em">
            <b>{{ task.name }}</b>
            <div>{{ task.type }}</div>
            <div>{{ task.description }}</div>
            <a href="{{ url_for('tasks.edit_task', id=task.id) }}">Edit</a>
        </div>
    {% endfor %}
    <br>
{% endfor %}
